@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border: 1px solid transparent;
  cursor: grab;
}

body::-webkit-scrollbar-track {
  border-radius: 30px;
  background-color: #f8f8f8;
}

body::-webkit-scrollbar-thumb {
  background-color: #4a90e2;
  border-radius: 30px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill::first-line {
  color: white;
}

input:-webkit-autofill::caret {
  color: white;
}

.loading {
  display: inline-block;
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  transition: transform 0.3s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
  box-shadow: 0px 30.20323px 107.23px rgba(255, 86, 246, 0.51);
  transition: transform 0.3s ease-in-out;
}

.button:active {
  transform: scale(0.9);
}

.calendar-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
